{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
<a href="{% url 'edit_player' player.id %}">Edit Player</a>
{% if player %}
<h1>{{player.full_name}}</h1>
<p>{{player.dob}}</p>
<p>{{player.gender}}</p>
<p>{{player.phone}}</p>
<p>{{player.height}}</p>
{% endif %}

{% if parent %}
{% for obj in parent %}
<h1>{{obj.full_name}}</h1>
<p>{{obj.full_name}}</p>
{% endfor %}
{% endif %}

{% if subscriptions %}
{% for obj in subscriptions %}
<h3>{{obj}}</h3>
{% endfor %}
{% endif %}

{% if subscription_status %}
<h3>{{subscription_status}}</h3>
{% endif %}

{% if subscription_form %}
<form method="post">
    {% csrf_token %}
    {% crispy subscription_form %}
    <button type="submit">Update Subscription</button>
</form>
{% endif %}

{% endblock content %}