{% extends "index.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'libs/datatables/datatables.min.css' %}">
<link rel="stylesheet" href="{% static 'libs/datatables/responsive.datatables.min.css' %}">
{% endblock extra_css %}

{% block content %}
<table id="players-list">
    <thead>
        <th>Full Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Actions</th>
    </thead>
</table>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'libs/datatables/datatables.min.js' %}"></script>
<script src="{% static 'libs/datatables/datatables.responsive.min.js' %}"></script>
<script>
    let players_table = new DataTable('#players-list', {
        ajax : '{% url "get_players_list" %}',
        columns : [
            { data:'full_name' },
            { data:'dob' },
            { data:'gender' },
            { data:'phone' },
            { data:'view'}
        ]
    })
</script>
{% endblock extra_js %}