{% extends "index.html" %}
{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<a href="{% url 'register_player' %}">Add New</a>
<table id="players-list">
    <thead>
        <th>Full Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Actions</th>
    </thead>
</table>
{% endblock content %}

{% block extra_js %}
<script>
    let players_table = new DataTable('#players-list', {
        ajax : '{% url "get_players_list" %}',
        columns : [
            { data:'full_name' },
            { data:'dob' },
            { 
                data:'gender',
                render : function(data) {
                    if (data === 'F') {
                        return 'Female';
                    } else {
                        return 'Male';
                    }
                }
            },
            { data:'phone' },
            { data:'view'}
        ]
    })
</script>
{% endblock extra_js %}